:root {
  --color-primary: #6268af;
  --color-primary-light: #7995c1;
  --color-secondary: #3a93c2;
  --color-secondary-light: #3b93c2;

  --font-primary: "reklame-script", sans-serif;
  --font-secondary: "soleil", sans-serif;

}

html {
  font-family: var(--font-secondary);
}

h1 {
  font-family: var(--font-primary);
}
