:root {
  --color-primary: #6268af;
  --color-primary-light: #7995c1;
  --secondary: #448abe;
  --color-accent: greenyellow;
  --color-natural-beige: #e2e2e2;

  --font-primary: "reklame-script", sans-serif;
  --font-secondary: "soleil", sans-serif;

}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
}

.peta {
  font-family: var(--font-secondary);
}

.tera {
  font-family: var(--font-secondary);
}
