.image {
  width: 100%;
}

.call-to-action-section h2 {
  color: #fff;
  font-weight: lighter;
}

.call-to-action-section .logo {
  padding-bottom: 20px;
  padding-top: 30px;
}

.call-to-action-content {
  padding-bottom: 30px;
  background-color: #9fa2a6;
}

@media only screen and (min-width: 60em) {

  .call-to-action-content {
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

}
