.image {
  width: 100%;
}

.call-to-action-section h2 {
  color: #fff;
  font-weight: lighter;
}

.call-to-action-section .logo {
  padding-bottom: 20px;
}

.call-to-action-section p {
  color: #fff;
}

html {
  background-color: #9fa2a6;;
}

@media only screen and (min-width: 60em) {

  .call-to-action-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
