.image {
  width: 100%;
}

.application-section h2 {
  color: #fff;
  font-weight: lighter;
}

.application-section p {
  color: #fff;
  font-weight: lighter;
}

.application-section .logo {
  padding-bottom: 20px;
  padding-top: 30px;
}

.application-section {
  padding-bottom: 30px;
}

.application-section {
  background-color: #9fa2a6;
}

@media only screen and (min-width: 60em) {

  .application-section-content {
    background-color: inherit;
    position: absolute;
  }
