.image {
  width: 100%;
}

.rescue-section h2 {
  color: #fff;
  font-weight: lighter;
}

.rescue-section p {
  color: #fff;
  font-weight: lighter;
}

.rescue-section.logo {
  padding-bottom: 20px;
  padding-top: 30px;
}

.rescue-section {
  padding-bottom: 30px;
}

.rescue-section-content {
  background-color: #9fa2a6;
}

@media only screen and (min-width: 60em) {

  .call-to-action-content {
    background-color: inherit;
    position: absolute;
  }

}
